@page "/"

<PageTitle>Darslik</PageTitle>

<div class="dev-one">
    <h1 class="mak-dars">Maktab Darsliklari</h1>

    <img src="@ImageUrl6" alt="6-class">
    @code {
        private string ImageUrl6 = "https://play-lh.googleusercontent.com/uRKbC0y9pVBUM8gbFr1dfBqYhHSsS2tiYfK--7Wg8rODshZM49ejL1aOtoT9ZrF1KQ=w526-h296-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url6 = "https://play.google.com/store/apps/details?id=com.mobiler.maktabdarsliklari6_sinf&pcampaignid=web_share";
            string linkText6 = "Dowland and Show 6-class";
        }
        <a href="@url6" target="_blank">@linkText6</a>
    </button>

    <h1></h1>
    <img src="@ImageUrl7" alt="7-class">
    @code {
        private string ImageUrl7 = "https://play-lh.googleusercontent.com/HklMlp9oLfBDlSNWuZTdhxK-UxoCBjFT5x9EDXo3E15Dq2YtiRDoB5XEPegMqAU9gR0=w526-h296-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url7 = "https://play.google.com/store/apps/details?id=com.mobiler.maktabdarsliklari7_sinf&pcampaignid=web_share";
            string linkText7 = "Dowland and Show 7-class";
        }
        <a href="@url7" target="_blank">@linkText7</a>
    </button>

    <h1></h1>
    <img src="@ImageUrl8" alt="8-class">
    @code {
        private string ImageUrl8 = "https://play-lh.googleusercontent.com/OT3ACAofB1wxn0kUzBzGoHTFOF6jq-trfinCHsu-jVXq8fhANqN1-qYdNThDhOg_uw=w526-h296-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url8 = "https://play.google.com/store/apps/details?id=com.mobiler.maktabdarsliklari8_sinf&pcampaignid=web_share";
            string linkText8 = "Dowland and Show 8-class";
        }
        <a href="@url8" target="_blank">@linkText8</a>
    </button>

    <h1></h1>
    <img src="@ImageUrl9" alt="9-class">
    @code {
        private string ImageUrl9 = "https://play-lh.googleusercontent.com/Kg1mrBU_TE4Yiig5JKMnvad3mniremDZXslKr3lpZH0Umi96sSFg3VgdMNPLYmYNAA=w526-h296-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url9 = "https://play.google.com/store/apps/details?id=com.mobiler.maktabdarsliklari9_sinf&pcampaignid=web_share";
            string linkText9 = "Dowland and Show 9-class";
        }
        <a href="@url9" target="_blank">@linkText9</a>
    </button>

    <h1></h1>
    <img src="@ImageUrl10" alt="10-class">
    @code {
        private string ImageUrl10 = "https://play-lh.googleusercontent.com/_rxiVHcUoKVyx5k7Y0B0AmBx_D0j4ZpYd4SZNNDGvOQJ-JG5OD0aej8U2R3sVhRoPjw=w526-h296-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url10 = "https://play.google.com/store/apps/details?id=com.mobiler.maktabdarsliklari10_sinf&pcampaignid=web_share";
            string linkText10 = "Dowland and Show 10-class";
        }
        <a href="@url10" target="_blank">@linkText10</a>
    </button>

    <h1></h1>
    <img src="@ImageUrl11" alt="11-class">
    @code {
        private string ImageUrl11 = "https://play-lh.googleusercontent.com/M4JRFPDRCD8B8memGd8DYW-ekhE7daRffktOrxe5Eue06HUsKCiStx6sai1_UzN-mDI=w526-h296-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url11 = "https://play.google.com/store/apps/details?id=com.mobiler.maktabdarsliklari11_sinf&pcampaignid=web_share";
            string linkText11 = "Dowland and Show 11-class";
        }
        <a href="@url11" target="_blank">@linkText11</a>
    </button>
</div>