@page "/kitoblar"
@rendermode InteractiveServer

<PageTitle>Fanlar</PageTitle>

<div class="dev-one">
    <h1 class="mak-dars">Fanlar Bo'yicha Kitoblar</h1>

    <img src="@ImageUrl4" alt="4-class">
    @code {
        private string ImageUrl4 = "https://play-lh.googleusercontent.com/_t-NiywTH1fgy6zllIb_Ee7oqrOyFsLW7e1WaW5Y63F1efdQy_xcYvJtDZZdpTfJWz4=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url4 = "https://play.google.com/store/apps/details?id=com.mobiler.matematika1_4&pcampaignid=web_share";
            string linkText4 = "Dowland and Show (1-4)-class Matematika";
        }
        <a href="@url4" target="_blank">@linkText4</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl5" alt="5-class">
    @code {
        private string ImageUrl5 = "https://play-lh.googleusercontent.com/YMQwkwHcd_zVNumTdsTtHxMY1Gz_BiBq6JWCntWgSV3cY7rpiS6dqKDZrepTj22IFxY=w240-h480-rw";
    }
    <h2></h2>
    <button class="ka-buttun">
        @{
            string url5 = "https://play.google.com/store/apps/details?id=com.mobiler.matematika&pcampaignid=web_share";
            string linkText5 = "Dowland and Show (5-11)-class Matematika";
        }
        <a href="@url5" target="_blank">@linkText5</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl16" alt="7-11-class">
    @code {
        private string ImageUrl16 = "https://play-lh.googleusercontent.com/XTlr9_n9Pcf40JiqGmC2ZVIPOH7_Hbpe6f_O7wylOx-Zl7vJ7Hz-cCGZT4lpsydoQA=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url16 = "https://play.google.com/store/apps/details?id=com.mobiler.fizika6_11&pcampaignid=web_share";
            string linkText16 = "Dowland and Show (6-11)-class Fizika";
        }
        <a href="@url16" target="_blank">@linkText16</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl17" alt="-11-class">
    @code {
        private string ImageUrl17 = "https://play-lh.googleusercontent.com/5AXZOe_CLVsF9T3SdsZuVT2dA4enM8jKtQGxpAFSkNm398OuL1TeUlwksPTLbBzFxjOV=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url17 = "https://play.google.com/store/apps/details?id=com.mobiler.jahontarixi7_11&pcampaignid=web_share";
            string linkText17 = "Dowland and Show (5-11)-class Jahon Tarixi";
        }
        <a href="@url17" target="_blank">@linkText17</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl18" alt="7-11-class">
    @code {
        private string ImageUrl18 = "https://play-lh.googleusercontent.com/EpXYf0YBTDfHb98bb2Oqt2j1CRDHSsCPPLVbYQjaSakhNCVYTn99E5WaYLdJtJciGdPS=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url18 = "https://play.google.com/store/apps/details?id=com.mobiler.ozbekistontarixi7_11&pcampaignid=web_share";
            string linkText18 = "Dowland and Show (7-11)-class O'zbekiston Tarixi";
        }
        <a href="@url18" target="_blank">@linkText18</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl19" alt="1-11-class">
    @code {
        private string ImageUrl19 = "https://play-lh.googleusercontent.com/1lT10rcFAqeTBcV5QdDZabOmCVbPuyXJ7m01D89h2LeQ3kd54Vh95AjDSBPcCKCjZqo=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url19 = "https://play.google.com/store/apps/details?id=com.mobiler.tarbiya5_11&pcampaignid=web_share";
            string linkText19 = "Dowland and Show (1-11)-class Tarbiya";
        }
        <a href="@url19" target="_blank">@linkText19</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl20" alt="5-11-class">
    @code {
        private string ImageUrl20 = "https://play-lh.googleusercontent.com/x7pz1JQGNVw3rjJuVNt9mEeseiDrf-eF6ECxHvRsfvv3lAuBQQZ0KrSA9EljoyDWXyRm=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url20 = "https://play.google.com/store/apps/details?id=com.mobiler.onatili5_11&pcampaignid=web_share";
            string linkText20 = "Dowland and Show (5-11)-class Ona tili";
        }
        <a href="@url20" target="_blank">@linkText20</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl21" alt="5-11-class">
    @code {
        private string ImageUrl21 = "https://play-lh.googleusercontent.com/x_c-W_bJiRnU6PvPomd3RIgXafDjY2dMexOzxR2FUFHq9GNsNPdCGxzMgPHP_48fBA=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url21 = "https://play.google.com/store/apps/details?id=com.mobiler.ingliztili1_4&pcampaignid=web_share";
            string linkText21 = "Dowland and Show (1-4)-class Ingliz tili";
        }
        <a href="@url21" target="_blank">@linkText21</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl22" alt="5-11-class">
    @code {
        private string ImageUrl22 = "https://play-lh.googleusercontent.com/iaet1zJ_K3H-2LJeygiPF9IMap5FqlR3ytr9M9jDxbBlkaPKDTy8NVUZ_NVkDMI0WVU=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url22 = "https://play.google.com/store/apps/details?id=com.mobiler.ingliztili5_11&pcampaignid=web_share";
            string linkText22 = "Dowland and Show (5-11)-class Ingliz tili";
        }
        <a href="@url22" target="_blank">@linkText22</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl23" alt="5-11-class">
    @code {
        private string ImageUrl23 = "https://play-lh.googleusercontent.com/0i5c-99OeolYAP-YHfiqkLGUWkphkqBSzeylNflbdoWOBhzXymIESdUwExmYvi66RA=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url23 = "https://play.google.com/store/apps/details?id=com.mobiler.kimyo7_11&pcampaignid=web_share";
            string linkText23 = "Dowland and Show (7-11)-class Kimyo";
        }
        <a href="@url23" target="_blank">@linkText23</a>
    </button>
    <h1></h1>
    <img src="@ImageUrl24" alt="5-11-class">
    @code {
        private string ImageUrl24 = "https://play-lh.googleusercontent.com/sXbsgjGOC4ZsaLv4BVz9P2eD0tdgEZIvP9u21C9EDbVr_qgcqg-ecYSlpe1CA-AAvQ=w240-h480-rw";
    }
    <h1></h1>
    <button class="ka-buttun">
        @{
            string url24 = "https://play.google.com/store/apps/details?id=com.mobiler.texnologiya5_9&pcampaignid=web_share";
            string linkText24 = "Dowland and Show (1-9)-class Texnologiya";
        }
        <a href="@url24" target="_blank">@linkText24</a>
    </button>
</div>

